extends ../../components/layout/layout.pug

block content
  div.container
    h1 Welcom Bad App!
    div
      a.btn.btn-primary.col-sm-12(href="/register") Register 
    div
      a.btn.btn-primary.col-sm-12(href="/login") Login 