extends ../components/layout/layout.pug

block content
  div.container
    h1 Home! 
    table.table.table-hover
      p.text-secondary Current User
      thead
      tbody
        each val, key in user
          tr
            th #{key}
            th #{val} 
